:host {
	--gap: .5rem;
	display: grid;
	// border: 1px solid #ccc;
	background-color: #f8f8f8;
	gap: var(--gap);
	padding: var(--gap);
}

.sortable-item {
	display: flex;
	padding: var(--gap);
	padding-left: 0;
	background-color: #ffff;
	border-radius: 0.25rem;
	box-shadow: 0.1rem 0.1rem .3rem rgba(0, 0, 0, 0.1);
	cursor: move;
	.sortable-handle {
		display: flex;
		padding: calc(.5 * var(--gap));
		margin: calc(-.5 * var(--gap)) 0;
		margin-right: calc(.5 * var(--gap));

		&::before {
			content: '';
			width: .5rem;
			// border-radius: 1rem;
			background-size: 50%;
			background-image: linear-gradient(-90deg, #0003 0%, 20%, #0000 60%, #fff0 60%, #fff6 100%);
		}
	}
}