:host {
  --gap: .5rem;
  display: grid;
  background-color: #f8f8f8;
  gap: var(--gap);
  padding: var(--gap);
}

.sortable-item {
  display: flex;
  padding: var(--gap);
  padding-left: 0;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  cursor: move;
}
.sortable-item .sortable-handle {
  display: flex;
  padding: calc(0.5 * var(--gap));
  margin: calc(-0.5 * var(--gap)) 0;
  margin-right: calc(0.5 * var(--gap));
}
.sortable-item .sortable-handle::before {
  content: "";
  width: 0.5rem;
  background-size: 50%;
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, 20%, rgba(0, 0, 0, 0) 60%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.4) 100%);
}