:host {
	--drawer-size: 200px;
	--handle-width: .8rem;
	--pin-size: 1rem;
	--hue: 210;
	--sat: 50%;
	--lum: 90%;
	--duration: 200ms;
	--delay: 0ms;

	font-size: 1rem;
	position: fixed;
	box-sizing: border-box;
	overflow: hidden;
	transition-duration: var(--duration);
	transition-timing-function: ease-in;
	z-index: 1000;
	width: var(--handle-width);
	display: grid;
	top: 0;
	bottom: 0;
	left: 0;
	width: calc(var(--drawer-size) + var(--handle-width));
}

/* Default left and bottom */
/* :host {
	top: 0;
	bottom: 0;
	transition-property: width;
} */
:host {
	left: 0;
	right: auto;

	main {
		border-radius: 0 1em 1em 0;
	}

	.pin {
		right: 0;
		left: auto;
	}
}
/* 
:host(:hover) {
	transition-delay: var(--delay);
	width: var(--handle-width);
} */
:host(:not(:hover)) {
	transition-delay: var(--delay);
	width: var(--handle-width);
}

:host(:focus-within) {
	width: calc(var(--drawer-size) + var(--handle-width));
}

:host([pinned]) {
	top: 0;
	bottom: 0;
	width: calc(var(--drawer-size) + var(--handle-width));

	.content {
		border-radius: 0;
		box-shadow: none;
	}

	.handle {
		display: none;
	}

	.pin {
		opacity: .6;

		&::before {
			content: '🔒\FE0E';
		}
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	position: absolute;
	right: 0;
	height: 100%;
	display: grid;
	grid-template-columns: var(--drawer-size) var(--handle-width);
	grid-template-areas: "content handle";
}

main {
	position: relative;
	/* align-self: center; */
	box-sizing: border-box;
	overflow-y: auto;
	background-color: hsl(var(--hue), var(--sat), var(--lum));
	box-shadow: inset 0 0 10px #0003;
	grid-area: content;
	margin: .5em 0;
}

.pin {
	position: absolute;
	top: 0;
	right: 0;
	font-size: var(--pin-size);
	width: 2em;
	height: 2em;
	cursor: pointer;
	z-index: 10;
	display: grid;
	place-items: center;
	opacity: .3;

	&::before {
		content: '🔓\FE0E';
		line-height: 1;
		color: hsl(var(--hue), var(--sat), 50%);
	}
}

.handle {
	padding: 0.5em 0;
	align-self: center;
	background-color: hsl(var(--hue), var(--sat), calc(var(--lum) - 20%));
	border-radius: 0 1ch 1ch 0;
	color: hsl(var(--hue), var(--sat), calc(var(--lum) - 20%));
	display: grid;
	font-size: .8em;
	grid-area: handle;
	line-height: 1;
	opacity: .5;
	place-items: center;
	text-shadow: 1px 1px 1px #0005, -1px -1px 1px #FFF9;

	&:hover {
		opacity: 1;
	}

	&::before {
		content: '•\0A•\0A•';
		white-space: pre;
	}
}