.svg-icons {
	display: flex;
	gap: .25em;
	margin: 1em 0;
	>* {
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		background-color: hsl(200, 80%, 30%);
		border-radius: 8px;
		color: white;
		padding: .5em;
	}
}